<a href="https://colab.research.google.com/github/JhonatanCorrea/Applied_Text_Mining_Python/blob/master/Distrias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np # Libreria para arreglos, matrices, vectores (algebra Lineal)
import pandas as pd # Libreria para tratamientos de datos (Dataframes), funciones análisis de datos
import matplotlib.pyplot as plt # Libreria para visualización
import sklearn # Libreria de Machine Learning
import seaborn as sns # Libreria para visualización avanzada
from sklearn import metrics # Libreria para importar metricas de los modelos
from sklearn import preprocessing # Paquete para realizar preprocesamiento de los datos
from sklearn.preprocessing import OneHotEncoder # Similar a dummies, es mejor.
from sklearn.preprocessing import LabelEncoder # Libreria para codificar etiquetas (Categoricas)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_excel('/content/drive/MyDrive/Proyecto_Sapiencia/Datos.xlsx')

In [ ]:
data.head(1)

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.describe(include='object')

In [ ]:
len(data)

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
data.isnull().sum()

In [ ]:
(data.isnull().sum()/len(data))

In [12]:
count=0 
for i in data.isnull().sum(axis=1): 
    if i>0: 
        count=count+1 
print('Total number of rows with missing values is ', count) 
print('since it',round((count/len(data.index))*100), 'percent of the entire dataset the rows with missing values are excluded.')

Total number of rows with missing values is  213363
since it 96 percent of the entire dataset the rows with missing values are excluded.

In [ ]:
len(data)-count

In [19]:
data.drop(['TIPO','MARCA','LINEA','CLASE','NOMBRE_ESTABLECIMIENTO'],axis=1,inplace=True) # Borramos varias variables del dataframe

In [ ]:
pd.value_counts(data["GRUPO"])

In [37]:
data.sort_values('FECHA_DOCUMENTO',ascending=True,inplace=True)

In [ ]:
# Graficar histogramas
def draw_histograms(dataframe, features, rows, cols): 
    fig=plt.figure(figsize=(20,20)) 
    for i, feature in enumerate(features): 
        ax=fig.add_subplot(rows,cols,i+1) 
        dataframe[feature].hist(bins=20,ax=ax,facecolor='midnightblue') 
        ax.set_title(feature+" Distribution",color='DarkRed') 
    fig.tight_layout()   
    plt.show() 
draw_histograms(data,data.columns,6,3)

In [44]:
data[data['RENTABILIDAD'].isna()]

       NOMBRE_DOCUMENTO_MAESTRO  ... ID_VENDEDOR
45716              NOTA CREDITO  ...        2715
77356              NOTA CREDITO  ...        1856
88469              NOTA CREDITO  ...        1856
125137             NOTA CREDITO  ...        1856

[4 rows x 32 columns]

In [ ]:
data.fillna()