<a href="https://colab.research.google.com/github/JhonatanCorrea/Applied_Text_Mining_Python/blob/master/Distrias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np # Libreria para arreglos, matrices, vectores (algebra Lineal)
import pandas as pd # Libreria para tratamientos de datos (Dataframes), funciones análisis de datos
import matplotlib.pyplot as plt # Libreria para visualización
import sklearn # Libreria de Machine Learning
import seaborn as sns # Libreria para visualización avanzada
from sklearn import metrics # Libreria para importar metricas de los modelos
from sklearn import preprocessing # Paquete para realizar preprocesamiento de los datos
from sklearn.preprocessing import OneHotEncoder # Similar a dummies, es mejor.
from sklearn.preprocessing import LabelEncoder # Libreria para codificar etiquetas (Categoricas)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_excel('/content/drive/MyDrive/Proyecto_Sapiencia/Datos.xlsx')

In [18]:
data.head(1)

  NOMBRE_DOCUMENTO_MAESTRO       NOMBRE_CONSECUTIVO  ... ID_TERCERO  ID_VENDEDOR
0                  FACTURA  FACTURA ELECTRONICA DEV  ...       4509         1856

[1 rows x 37 columns]

In [ ]:
data.info()

In [ ]:
len(data)

In [ ]:
data.shape

In [26]:
data.columns

Index(['NOMBRE_DOCUMENTO_MAESTRO', 'NOMBRE_CONSECUTIVO', 'TIPO_DOCUMENTO',
       'NUMERO_DOCUMENTO', 'FECHA_DOCUMENTO', 'FECHA_VENCIMIENTO',
       'IDENTIFICACION_TERCERO', 'NOMBRE_TERCERO', 'ID_CENTRO_COSTO',
       'NOMBRE_CENTRO_COSTO', 'NOMBRE_CLASIFICACION', 'ID_PRODUCTO_SERVICIO',
       'PRODUCTO_SERVICIO', 'CANTIDAD', 'VALOR_UNITARIO', 'VALOR_TOTAL',
       'PORCENTAJE_DESCUENTO', 'VALOR_DESCUENTO', 'SUBTOTAL', 'IVA',
       'TOTAL_NETO', 'UTILIDAD', 'RENTABILIDAD', 'COSTO', 'CEDULA_VENDEDOR',
       'NOMBRE_VENDEDOR', 'FORMA_DE_PAGO', 'GRUPO', 'ID_USUARIO_CREA',
       'USUARIO_CREA', 'ID_TERCERO', 'ID_VENDEDOR'],
      dtype='object')

In [ ]:
data.isnull().sum()

In [ ]:
(data.isnull().sum()/len(data))

In [12]:
count=0 
for i in data.isnull().sum(axis=1): 
    if i>0: 
        count=count+1 
print('Total number of rows with missing values is ', count) 
print('since it',round((count/len(data.index))*100), 'percent of the entire dataset the rows with missing values are excluded.')

Total number of rows with missing values is  213363
since it 96 percent of the entire dataset the rows with missing values are excluded.

In [15]:
len(data)-count

8909

In [19]:
data.drop(['TIPO','MARCA','LINEA','CLASE','NOMBRE_ESTABLECIMIENTO'],axis=1,inplace=True) # Borramos varias variables del dataframe

In [25]:
pd.value_counts(data["GRUPO"])

G001-DECORATIVO                              17250
6401-CEMENTO GRIS                            15143
1601-VARILLAS CORRUGADAS X 6 MTS             14875
1007-ACCESORIOS PRESION LISO-ROSCADO         14520
1009-ACCESORIOS SANITARIO - VENTILACION      11790
                                             ...
6102-VALVULA DE BOLA TIPO PESADO SUPERIOR        1
3214-AZADON FORJADO 3037                         1
G065-ASIENTOS INSTITUCIONALES                    1
3235-PICO-PICO FORJADO 3100                      1
3034-ACCESORIOS TANQUES ECOPLAST                 1
Name: GRUPO, Length: 489, dtype: int64