<a href="https://colab.research.google.com/github/JhonatanCorrea/Applied_Text_Mining_Python/blob/master/Distrias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar las librerias

In [1]:
import numpy as np # Libreria para arreglos, matrices, vectores (algebra Lineal)
import pandas as pd # Libreria para tratamientos de datos (Dataframes), funciones análisis de datos
import matplotlib.pyplot as plt # Libreria para visualización
import sklearn # Libreria de Machine Learning
import seaborn as sns # Libreria para visualización avanzada
from sklearn import metrics # Libreria para importar metricas de los modelos
from sklearn import preprocessing # Paquete para realizar preprocesamiento de los datos
from sklearn.preprocessing import OneHotEncoder # Similar a dummies, es mejor.
from sklearn.preprocessing import LabelEncoder # Libreria para codificar etiquetas (Categoricas)

In [2]:
pd.set_option('display.float_format', str)

Extraer de Google Drive, los datos para leer de la empresa

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Leer los datos a través de la libreria pandas y se le asigna el nombre de data

In [4]:
data = pd.read_excel('/content/drive/MyDrive/Proyecto_Sapiencia/Datos.xlsx')

Análisis Exploratorio de Datos EDA

In [5]:
data.head(1) # Leer el primer registro de la tabla

  NOMBRE_DOCUMENTO_MAESTRO       NOMBRE_CONSECUTIVO  ... ID_TERCERO  ID_VENDEDOR
0                  FACTURA  FACTURA ELECTRONICA DEV  ...       4509         1856

[1 rows x 37 columns]

In [6]:
data.info() # Observar la cantidad de variables y el tipo de variables, con la cantidad de datos nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222272 entries, 0 to 222271
Data columns (total 37 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   NOMBRE_DOCUMENTO_MAESTRO  222272 non-null  object
 1   NOMBRE_CONSECUTIVO        222272 non-null  object
 2   TIPO_DOCUMENTO            222272 non-null  object
 3   NUMERO_DOCUMENTO          222272 non-null  int64
 4   FECHA_DOCUMENTO           222272 non-null  datetime64[ns]
 5   FECHA_VENCIMIENTO         222272 non-null  datetime64[ns]
 6   IDENTIFICACION_TERCERO    222272 non-null  object
 7   NOMBRE_TERCERO            222272 non-null  object
 8   ID_CENTRO_COSTO           222272 non-null  int64
 9   NOMBRE_CENTRO_COSTO       222272 non-null  object
 10  NOMBRE_CLASIFICACION      222272 non-null  object
 11  ID_PRODUCTO_SERVICIO      222272 non-null  int64
 12  PRODUCTO_SERVICIO         222272 non-null  object
 13  CANTIDAD                  222272 non-null  float64
 14  VALOR_UNITARIO            222272 non-null  float64
 15  VALOR_TOTAL               222272 non-null  float64
 16  PORCENTAJE_DESCUENTO      222272 non-null  float64
 17  VALOR_DESCUENTO           222272 non-null  float64
 18  SUBTOTAL                  222272 non-null  float64
 19  IVA                       222272 non-null  float64
 20  TOTAL_NETO                222272 non-null  float64
 21  UTILIDAD                  222268 non-null  float64
 22  RENTABILIDAD              222268 non-null  float64
 23  COSTO                     222268 non-null  float64
 24  CEDULA_VENDEDOR           222079 non-null  float64
 25  NOMBRE_VENDEDOR           222079 non-null  object
 26  FORMA_DE_PAGO             222272 non-null  object
 27  TIPO                      34288 non-null   object
 28  MARCA                     201064 non-null  object
 29  LINEA                     142269 non-null  object
 30  GRUPO                     216100 non-null  object
 31  CLASE                     150733 non-null  object
 32  NOMBRE_ESTABLECIMIENTO    45510 non-null   object
 33  ID_USUARIO_CREA           222272 non-null  int64
 34  USUARIO_CREA              222272 non-null  object
 35  ID_TERCERO                222272 non-null  int64
 36  ID_VENDEDOR               222272 non-null  int64
dtypes: datetime64[ns](2), float64(12), int64(6), object(17)
memory usage: 62.7+ MB

In [7]:
data.describe() # Análisis descriptivo de las variables númericas

        NUMERO_DOCUMENTO  ...        ID_VENDEDOR
count           222272.0  ...           222272.0
mean  23993.972718111145  ... 1993.2982471926289
std   20414.845183201305  ... 1659.4595026321351
min                  1.0  ...              286.0
25%               4889.0  ...             1345.0
50%              18988.0  ...             1856.0
75%             44353.25  ...             1856.0
max             215307.0  ...            13441.0

[8 rows x 18 columns]

In [8]:
data.describe(include="object") # Aná

       NOMBRE_DOCUMENTO_MAESTRO  ...               USUARIO_CREA
count                    222272  ...                     222272
unique                        2  ...                         29
top                     FACTURA  ...  LEDA YIMARA ARGUMEDO DIAZ
freq                     212586  ...                      47219

[4 rows x 17 columns]

In [9]:
len(data)

222272

In [10]:
data.shape

(222272, 37)

In [11]:
data.columns

Index(['NOMBRE_DOCUMENTO_MAESTRO', 'NOMBRE_CONSECUTIVO', 'TIPO_DOCUMENTO',
       'NUMERO_DOCUMENTO', 'FECHA_DOCUMENTO', 'FECHA_VENCIMIENTO',
       'IDENTIFICACION_TERCERO', 'NOMBRE_TERCERO', 'ID_CENTRO_COSTO',
       'NOMBRE_CENTRO_COSTO', 'NOMBRE_CLASIFICACION', 'ID_PRODUCTO_SERVICIO',
       'PRODUCTO_SERVICIO', 'CANTIDAD', 'VALOR_UNITARIO', 'VALOR_TOTAL',
       'PORCENTAJE_DESCUENTO', 'VALOR_DESCUENTO', 'SUBTOTAL', 'IVA',
       'TOTAL_NETO', 'UTILIDAD', 'RENTABILIDAD', 'COSTO', 'CEDULA_VENDEDOR',
       'NOMBRE_VENDEDOR', 'FORMA_DE_PAGO', 'TIPO', 'MARCA', 'LINEA', 'GRUPO',
       'CLASE', 'NOMBRE_ESTABLECIMIENTO', 'ID_USUARIO_CREA', 'USUARIO_CREA',
       'ID_TERCERO', 'ID_VENDEDOR'],
      dtype='object')

In [12]:
data.columns = data.columns.str.lower()

In [13]:
data.isnull().sum()

nombre_documento_maestro         0
nombre_consecutivo               0
tipo_documento                   0
numero_documento                 0
fecha_documento                  0
fecha_vencimiento                0
identificacion_tercero           0
nombre_tercero                   0
id_centro_costo                  0
nombre_centro_costo              0
nombre_clasificacion             0
id_producto_servicio             0
producto_servicio                0
cantidad                         0
valor_unitario                   0
valor_total                      0
porcentaje_descuento             0
valor_descuento                  0
subtotal                         0
iva                              0
total_neto                       0
utilidad                         4
rentabilidad                     4
costo                            4
cedula_vendedor                193
nombre_vendedor                193
forma_de_pago                    0
tipo                        187984
marca                        21208
linea                        80003
grupo                         6172
clase                        71539
nombre_establecimiento      176762
id_usuario_crea                  0
usuario_crea                     0
id_tercero                       0
id_vendedor                      0
dtype: int64

In [14]:
(data.isnull().sum()/len(data))

nombre_documento_maestro                      0.0
nombre_consecutivo                            0.0
tipo_documento                                0.0
numero_documento                              0.0
fecha_documento                               0.0
fecha_vencimiento                             0.0
identificacion_tercero                        0.0
nombre_tercero                                0.0
id_centro_costo                               0.0
nombre_centro_costo                           0.0
nombre_clasificacion                          0.0
id_producto_servicio                          0.0
producto_servicio                             0.0
cantidad                                      0.0
valor_unitario                                0.0
valor_total                                   0.0
porcentaje_descuento                          0.0
valor_descuento                               0.0
subtotal                                      0.0
iva                                           0.0
total_neto                                    0.0
utilidad                   1.7995968902965736e-05
rentabilidad               1.7995968902965736e-05
costo                      1.7995968902965736e-05
cedula_vendedor             0.0008683054995680967
nombre_vendedor             0.0008683054995680967
forma_de_pago                                 0.0
tipo                           0.8457385545637777
marca                         0.09541462712352433
linea                          0.3599328750359919
grupo                         0.02776778001727613
clase                         0.32185340483731645
nombre_establecimiento         0.7952508638065073
id_usuario_crea                               0.0
usuario_crea                                  0.0
id_tercero                                    0.0
id_vendedor                                   0.0
dtype: float64

In [15]:
count=0 
for i in data.isnull().sum(axis=1): 
    if i>0: 
        count=count+1 
print('Total number of rows with missing values is ', count) 
print('since it',round((count/len(data.index))*100), 'percent of the entire dataset the rows with missing values are excluded.')

Total number of rows with missing values is  213363
since it 96 percent of the entire dataset the rows with missing values are excluded.

In [16]:
len(data)-count

8909

In [17]:
data.drop(['tipo','marca','linea','clase','nombre_establecimiento'],axis=1,inplace=True) # Borramos varias variables del dataframe

In [18]:
pd.value_counts(data["grupo"])

G001-DECORATIVO                              17250
6401-CEMENTO GRIS                            15143
1601-VARILLAS CORRUGADAS X 6 MTS             14875
1007-ACCESORIOS PRESION LISO-ROSCADO         14520
1009-ACCESORIOS SANITARIO - VENTILACION      11790
                                             ...
3235-PICO-PICO FORJADO 3100                      1
G071-DUCHAS 8 PULGADAS                           1
6102-VALVULA DE BOLA TIPO PESADO SUPERIOR        1
0602-LLANTA Y NEUMATICO IMSA                     1
4001-BEBEDEROS COLEMPAQUES                       1
Name: grupo, Length: 489, dtype: int64

In [19]:
data.sort_values('fecha_documento',ascending=True,inplace=True)

In [20]:
data[data['rentabilidad'].isna()]

       nombre_documento_maestro  ... id_vendedor
45716              NOTA CREDITO  ...        2715
77356              NOTA CREDITO  ...        1856
88469              NOTA CREDITO  ...        1856
125137             NOTA CREDITO  ...        1856

[4 rows x 32 columns]

In [21]:
### data_final = data[["fecha_documento","rentabilidad",'cantidad']]

In [22]:
data['rentabilidad'] = data['rentabilidad'].astype(str).str.replace(',', '.')

In [23]:
data['rentabilidad']=data['rentabilidad'].astype('float')

In [29]:
data[['producto_servicio', 'rentabilidad','cantidad']].groupby(['producto_servicio'], as_index=False).sum().sort_values(by='rentabilidad', ascending=False)

                             producto_servicio        rentabilidad  cantidad
958               CEMENTO GRIS ARGOS UG X 50KL  216233.35750000234  813236.0
154                              ALAMBRE NEGRO  151805.96339999788  212779.0
5256     VARILLA NTC 2289 3/8 x 60 LEG x 6 MTS    85465.7077999995  456895.0
5249     VARILLA NTC 2289 1/4 x 60 LEG x 6 MTS    81676.5006999989  285410.0
3895            PUNTILLA C/C 2.1/2 PAQ 500 GRS    76451.1133999995   20158.0
...                                        ...                 ...       ...
962   CEMENTO GRIS MAMPOSTERIA TIPO S 42.5 KLS  -655247.5920000001    7586.0
2860           MAPEFIX VE SF CARTUCHO X 300 ML       -1177855.2556     868.0
482                                BREA CUÑETE -1424161.8804000015     160.0
1226                            CODO PRES 45 3  -5695944.690400002     123.0
3501         PINTUCO FILL 7 BASE ACCENT CANECA       -18037693.926      30.0

[5504 rows x 3 columns]

In [25]:
### data.groupby('PRODUCTO_SERVICIO').agg({'RENTABILIDAD':'sum','CANTIDAD':'sum'}) # Agrupación

In [26]:
data[['producto_servicio', 'rentabilidad','cantidad']].groupby(['producto_servicio'], as_index=False).sum().sort_values(by='rentabilidad', ascending=False).tail(10)

                             producto_servicio        rentabilidad  cantidad
529            BROCA PARA BERBIQUI 7510-03 3/8  -626.1147000000001       3.0
130          AJUSTADOR AUTOMOTRIZ 21125 1/1 GL  -738.8103999999998     52.75
462           BOTA SEG JUMBO NEGRA INYECT T:43 -1043.8436000000002      55.0
4458              TAPA TANQUE ECOPLAST 500 LTS          -1167.6498       6.0
4684            TELA POLIESTER X 100 MTS MAPEI -3344.1105000000002     23.68
962   CEMENTO GRIS MAMPOSTERIA TIPO S 42.5 KLS  -655247.5920000001    7586.0
2860           MAPEFIX VE SF CARTUCHO X 300 ML       -1177855.2556     868.0
482                                BREA CUÑETE -1424161.8804000015     160.0
1226                            CODO PRES 45 3  -5695944.690400002     123.0
3501         PINTUCO FILL 7 BASE ACCENT CANECA       -18037693.926      30.0

In [27]:
data[data['rentabilidad'] < 0]

       nombre_documento_maestro  ... id_vendedor
441                     FACTURA  ...         869
883                     FACTURA  ...        1856
861                     FACTURA  ...        1856
616                     FACTURA  ...        8843
526                     FACTURA  ...        1856
...                         ...  ...         ...
222254                  FACTURA  ...        8843
222214                  FACTURA  ...        8843
221920                  FACTURA  ...        8843
221830                  FACTURA  ...        8843
221966                  FACTURA  ...        8843

[867 rows x 32 columns]