### Procesing Free Text ###

In [1]:
text10= '"Ethics are built right into the ideals and objectives of the United Nations" #UNSG @ NY Society for Ethical Culture bit.ly/2guVelr @UN @UN_Women'

In [3]:
text11=text10.split(' ') # Dividirlo en el espacio, obtener tokens individuales
text11

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr',
 '@UN',
 '@UN_Women']

In [4]:
[w for w in text11 if w.startswith('#')] # Buscar hashtags

['#UNSG']

In [5]:
[w for w in text11 if w.startswith('@')] # Buscar llamados, pero no es suficiente porque nos trae un @ solo que no necesitamos

['@', '@UN', '@UN_Women']

### Buscando patrones con regular expressions, Patrón que define las llamadas en twitter @[A-Za-z0-9_]+, para corregir el error anterior ###

### Importar regular expressions firts ###

In [7]:
import re

In [8]:
[w for w in text11 if re.search('@[A-Za-z0-9_]+',w)]

['@UN', '@UN_Women']

### Meta-characters: Character Matches ###

In [ ]:
. : wildcard, caracter comodin que coincide con un solo caracter.
^ : indica Inicio de una cadena
$ : indica Fin de la cadena
[] : Coincide con uno de los caracteres que está dentro de los corchetes
[a-z] : Coincide con uno de los caracteres del rango a - z
[^abc] : Coincide con un caracter que no es a, b o c
a|b : Coincidirá con a o b donde a y b están en la misma cadena
() : Alcance de operadores
Barra invertida \ : Caracter de escape
\b : Coincida con el limite de la palabra
\t : Coincida con tabulación
\d : Coincida con cualquier digito, Equivalente de [0-9]
\D : Coincida con cualquier cosa que no sea 0-9, equivalente a [^0-9]
\s : Coincida con cualquier espacio, equivalente a [ \t\n\r\f\v]
\S : Coincida a sin espacio, equivalente a [^ \t\n\r\f\v]
\w : Coincide con cualquier caracter alfanumerico, equivalente a [a-zA-Z0_9_]
\W :Coincide con cualquier caracter que no sea alfanumerico, equivalente a [^a-zA-Z0_9_]

### Meta-characters: Repetitions ###

In [ ]:
* : matches cualquier cosa que ocurra, cero o más veces
+ : una o más veces
? : matches zero or one veces
{n} : Exactamente n repeticiones, n> o igual a 0
{,n} : Menos de n repeticiones
{n,} : Más de n repeticiones
{m,n} : Coincidir al menos m veces y cómo máximo n veces

In [9]:
[w for w in text11 if re.search('@\w+',w)]

['@UN', '@UN_Women']

### Buscando caracteres especiales ###

In [10]:
text12="ouagadougou"

In [12]:
re.findall(r'[aeiou]', text12) # Encontrar todos los caracteres asignados en los corchetes de la cadena

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [13]:
re.findall(r'[^aeiou]', text12) # Contrario código anterior

['g', 'd', 'g']

### Caso de estudio: Regular Expression for Dates ###

In [14]:
# Regular expression for Dates (contd)
dateStr = '23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 October 2002\nOct 23, 2002\n October 23, 2002'

In [15]:
re.findall(r'\d{2}[/-]\d{2}[/-]\d{4}', dateStr)

['23-10-2002', '23/10/2002', '10/23/2002']

In [17]:
re.findall(r'\d{2}[/-]\d{1,2}[/-]\d{2,4}', dateStr)

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

### Regex (Varianza) de donde tenemos una palabra escrita ###

In [19]:
#Regex for Dates (contd)
re.findall(r'\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', dateStr)

['Oct']

In [20]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', dateStr) # Sacar justo lo que coincida

['23 Oct 2002']

In [22]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}', dateStr)

['23 Oct 2002', '23 October 2002']

In [24]:
re.findall(r'(?:\d{2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2}, )?\d{4}', dateStr)

['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']

In [25]:
re.findall(r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{1,2}, )?\d{4}', dateStr)

['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']